@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Trevor's Rides</h1>
    <p>@{

            if (Helpers.IsLive)
            {
                Html.Raw($"This is live");
            }
            else
            {
                Html.Raw($"This is staging");
            }
        }Coming Soon...</p>
</div>
  